In [15]:
import streamlit as st
import pandas as pd
import yfinance as yf

codeFrame=pd.read_csv('個股日成交資訊.csv',  usecols=['證券代號','證券名稱', '成交金額'])
codeFrame['證券代號'].astype(str) + codeFrame['證券名稱']

0        0050元大台灣50
1       0051元大中型100
2          0052富邦科技
3          0053元大電子
4        0054元大台商50
           ...
1108         9944新麗
1109        9945潤泰新
1110       9946三發地產
1111         9955佳龍
1112        9958世紀鋼
Length: 1113, dtype: object

In [19]:
DF=yf.download("2330.TW", start='2023-01-01', end='2023-12-31')
DF

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close   Adj Close    Volume
Date
2023-01-03  446.0  453.5  443.0  453.0  450.562317  14885824
2023-01-04  449.5  455.0  448.5  449.5  447.081146  19188422
2023-01-05  459.0  459.5  455.0  458.5  456.032715  23549581
2023-01-06  455.0  459.5  455.0  458.5  456.032715  20886011
2023-01-09  468.0  481.0  467.5  481.0  478.411621  46666263
...           ...    ...    ...    ...         ...       ...
2023-06-05  560.0  560.0  555.0  555.0  555.000000  16827391
2023-06-06  554.0  562.0  553.0  560.0  560.000000  20228086
2023-06-07  561.0  568.0  560.0  568.0  568.000000  27604813
2023-06-08  562.0  568.0  555.0  559.0  559.000000  23080195
2023-06-09  561.0  566.0  561.0  565.0  565.000000  19091713

[100 rows x 6 columns]